    body {
    margin: 0;

   
    
    color: #6c7279;
    -webkit-font-smoothing: antialiased;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Container
===================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header
===================*/

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;

    position: fixed;

    background-color: #272727;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;

    
}


/* Nav
===================*/

.nav {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;  
}

.nav__link {
    margin-left: 50px;

    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}
.g {
    color: #00730B;
}


/* Intro
===================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: #31344e url("../img/background.png") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    margin: 0 0 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}


/* Button
===================*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.btn--green {
    background-color: #00730B;
}

.btn--green:hover {
    background-color: #01ad12;
}

.btn--long {
    min-width: 280px;
}

/* About */
.about {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #272727;
}
.about__text{
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

/* Features
===================*/
.training{
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.training__item {
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;

    text-align: center;
}

.training__icon {
    margin-bottom: 25px;
}

.training__title {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.training__subtitle {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}




/* Footer
===================*/
.footer {
    background-color: #272727;
    padding-top: 20px;
    
}
.contacts {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    
}

i.fa {
    font-size: 30px;
    color:#fff; 
    opacity: 0.7;                                                                                                                     ;
}

i.fa:hover {
    opacity: 1; 
}



/* Copyright
===================*/

.copyright {
    padding: 20px 0;

    background-color: #282727;
    
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.copyright__text span {
    color: #00730B;
}


/* Burger */
.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 30px;
    top: -8px;
}

.burger__item:after {
    width: 26px;
    bottom: -8px;
}



/* Media
===================*/



@media (max-width: 991px) {

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #272727;              
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
    }

    /* Burger */
    .burger {
        display: block;
    }

    /* Intro */
    .intro__title {
        font-size: 40px;
    }

    /* Training */
    .training__item {
        width: 50%;
    }


}


@media (max-width: 767px) {

    /* Intro */
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;

        font-size: 16px;
    }

    /* Training */
    .training {
        margin: 40px 0;
    }

    .training__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

   
}









